

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: #634a29; */
  /* background-image: url("/bgv1.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

body {
 background-color: 'red';
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
